<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<h2>login to create rooms</h2>

{{#if rooms}}
<h1>List of current rooms</h1>

<ul>
    {{#each rooms}}
    <a href="/rooms/{{this._id}}">
        <li>{{this.name}}</li>
    </a>
    {{/each}}

</ul>

{{/if}}